@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(245, 247, 247);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden scroll;
  text-rendering: optimizelegibility;
  font-size: 17px !important;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;
  height: 100%;
  padding: 30px;
  margin: 0px 50px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.skillsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}

.skillsListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: rgb(179, 205, 197);
  border-radius: 3px;
  border: 1px solid rgba(11, 99, 83, 0.2);
  margin-bottom: 16px;
  color: rgb(146, 172, 160);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  user-select: none;
}

.skillsListItem > div {
  display: flex;
  height: 54px;
  padding: 0px 16px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.span {
  display: flex;
  align-items: center;
  
}

.skillsListItem button {
  background: transparent;
  border: none;
  padding: 0px;
  height: 24px;
  width: 24px;
  outline: none;
}

.skillsListContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* margin: 10px 0px; */
}

.skillsListColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 5px;

}

.skillsListItem.highlight {
  background-color: #f7f7f7; 
}

.nonEmpty{
  display: flex;
  background-color: rgb(101, 151, 136);
  color: rgb(12, 3, 3);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
  user-select: none;
}


